  
.gitattributes
.github
.prettierignore
LICENSE
yarn.lock

**/.gitignore
test-results/
**/obj/
**/bin/
**/*.dat
**/*.sh
**/*.pbix
dist/
**/yarn-*.log
**/*.ts.snap
copyright-header.txt
**/.DS_Store
**/.funcignore