# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.
  
.gitattributes
**/.gitignore
.github
.prettierignore
LICENSE
yarn.lock

dist/
**/obj/
**/bin/
**/test-results/
**/*.dat
**/*.png
**/*.sh
**/*.pbix

**/yarn-*.log
**/*.ts.snap
copyright-header.txt
**/.DS_Store
**/.funcignore
