# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License.

.gitattributes
.github
.prettierignore
.yarn
**/.DS_Store
**/.funcignore
**/.gitignore
**/*.baseline
**/*.dat
**/*.pbix
**/*.png
**/*.sh
**/*.ts.snap
**/*.snap.md
**/bin/
**/obj/
**/dist/
**/yarn-*.log
**/*.ps1
copyright-header.txt
LICENSE
NOTICES.txt
test-results/
yarn.lock
_accessibility-reports/
**/.taskkey
.gdnsuppress
